<div class="no-user mt-4" *ngIf="!patientDetails" style="
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100%;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    flex-direction: column;  
    background-color: rgb(247, 249, 252);
">
    <i class="bi bi-person"></i>
    <p>Select a patient to view details</p>

</div>

<div class="user-display mt-4" *ngIf="patientDetails" style="border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;                
    flex-direction: column; margin-bottom: 10px;">

    <div class="card" style="margin-left: 20px; margin-top: 4px; margin-right: 20px; border: none;">
        <div class="card-body mt-2" style="border-bottom: #ccc 1px solid;">

            <div class="d-flex justify-content-between align-items-start">
            <h4 id="patient-name" class="mb-0">
                {{ patientDetails.name }}
            </h4>

            <button (click)="openMedFlowGraph()" class="btn btn-primary btn-md">
                Open MedFlow Graph <i class="bi bi-box-arrow-up-right " style="margin-left: 7px;"></i>
            </button>
            </div>

            <p class="card-title fs-6 mt-1" style="margin-bottom: 10px;">
            Age {{ patientDetails.age }} <i class="bi bi-dot"></i> Gender {{ patientDetails.gender }}
            <span class="ms-3">ID {{ patientDetails.id }}</span>
            </p>

            <p class="card-text" style="margin-bottom: 10px;">
            Last updated: {{ patientDetails.lastUpdated }}
            </p>

        </div>
    </div>

    <div style="margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;">
        <h6 class="" style="margin-bottom: 10px;"><i class="bi bi-activity"></i> Primary Diagnosis</h6>
        <div style="
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;           
        padding: 12px;">
        <p class="mb-0 mt-0"> {{ patientDetails.primaryDiagnosis }}</p>

        </div>
    </div>

    <div style="margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;">
        <h6 class="" style="margin-bottom: 10px;"><i class="bi bi-clipboard2-pulse-fill" style="margin-right: 3px;"></i>Active Conditions</h6>
        <div style="
        border: none;
        border-radius: 10px;
        display: flex;           
        ">
            <span class="badge text-bg-info me-2"
                *ngFor="let cond of patientDetails.activeConditions">
                {{ cond }}
            </span>
        </div>
    </div>

    <div style="margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;">
        <h6 class="" style="margin-bottom: 10px;"><i class="bi bi-prescription2"></i> Current Medications</h6>
        <div style="
        border: 1px solid #ccc;
        border-radius: 10px;           
        padding: 12px;">
        <p class="mb-1 mt-1"
            *ngFor="let med of patientDetails.currentMedications">
            {{ med }}
        </p>

        </div>
    </div>

    <div style="margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;">
        <h6 class="" style="margin-bottom: 10px;"><i class="bi bi-flask-fill"></i> Recent Lab Results</h6>
        <div style="
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;           
        padding: 12px;">
            <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 100%;">
                <div class="accordion-item"
                    *ngFor="let lab of patientDetails.recentLabResults; let i = index">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#lab' + i">
                    Lab Result {{ i + 1 }}
                    </button>
                    </h2>
                    <div [id]="'lab' + i" class="accordion-collapse collapse">
                        <div class="accordion-body">
                        {{ lab }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px; margin-bottom: 20px;">
        <h6 class="" style="margin-bottom: 10px;"> Recent Procedures</h6>
        <div style="
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;           
        padding: 12px;">
        <p *ngFor="let proc of patientDetails.recentProcedures">
            {{ proc }}
        </p>


        </div>
    </div>

</div>