*.env filter=git-crypt diff=git-crypt
.env.test filter=git-crypt diff=git-crypt
firebase-service-account.json filter=git-crypt diff=git-crypt
dev_env.json filter=git-crypt diff=git-crypt
app_config.dart filter=git-crypt diff=git-crypt
*.env.vault filter=git-crypt diff=git-crypt
