KC_HOSTNAME = "<host>";
KEYCLOAK_REALM = "<realm>";
KC_ISSUER = "https://<host>/realms/<realm>";
KC_INTERNAL_ISSUER = "http://<iss>/realms/<realm>";
EXPECTED_AUDIENCE = <aud>;
ALLOWED_CLOCK_SKEW = <skew>;
KC_JWKS_URI = "https://<host>/realms/<realm>/protocol/openid-connect/certs";
